<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attribute Binding</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <!-- attribute binding -->
      <a v-bind:href="url">guglu</a>
      <div v-if="showBooks">
        <h1>{{ judul }}</h1>
        <p>{{ title }} -- {{ author }}</p>
        <ul>
          <li v-for="book in books">
            <img v-bind:src="book.img" alt="" width="80" />
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
          </li>
        </ul>
      </div>
      <button @click="showToggle">
        <span v-if="showBooks">Hide</span>
        <span v-else>Show</span>
      </button>
    </div>
    <script src="app.js"></script>
  </body>
</html>
